
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif, Helvetica, sans-serif
}


h1{
    color: white;
    text-shadow: 1px 1px 4px #000;
}


.one{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(164, 201, 193);
}

.two{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 117, 159);
}

.three{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(90, 107, 170);
}

.four{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(164, 201, 193);
}

.five{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 117, 159);
}

.six{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(90, 107, 170);
}

.seven{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(164, 201, 193);
}

.eight{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 117, 159);
}



