<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="AdminStyle.css" rel="stylesheet">
    
    <title>Admin Panel</title>

</head>

<body>

    <div class="side-menu">
        <div class="brand-name">
            <h1 style="color: white;">Computer World</h1>
        </div>
        <ul>
           <a href="#"><li><img src="images/dashboard.png" style="height: 40px;">&nbsp; Dashboard</li></a>
           <a href="#" id="cardContainer" ><li><img src="images/product.png" style="height: 40px;">&nbsp;   Products    </li></a>
           <a href="#"><li><img src="images/category.png" style="height: 40px;">&nbsp;  Categorys   </li></a>
           <a href="#"><li><img src="images/customer.png"style="height: 40px;" >&nbsp;  Costumer's   </li></a>
           <a href="#"><li><img src="images/order.png" style="height: 40px;">&nbsp;     Orders       </li></a>
           <a href="#"><li><img src="images/settings.png" style="height: 40px;">&nbsp;  Settings     </li></a>
           <a href="home"><li><img src="images/home.png" style="height: 40px;">&nbsp;      Home         </li></a>
           <a href="home"><li><img src="images/shippment.png" style="height: 40px;">&nbsp; Logout    </li></a>
        </ul></a>
    </div>

    <div class="container">
        <div class="header">
            <div class="nav">
                <div class="search">
                    <input type="text" placeholder="Search...">
                    <button type="submit"><img  src="images/search.png" style="height: 40px;"></button>
                </div>
                <div class="user">
                    <img src="images/notifications.png" alt="">
                    <div class="img-case">
                        <img src="images/user.png" alt="">
                    </div>
                </div>
            </div>
        </div>

            <section id="section1">
                <div class="content">
                    <div class="cards">
                        <div class="card">
                            <div class="box">
                                <h1>214</h1>
                                <h3>Accounts</h3>
                            </div>
                            <div class="icon-case">
                                <img src="images/user.png" style="height:  70px;">
                            </div>
                        </div>
                       
                        
                        <div class="card" id="cardContainer">
                            <div class="box">
                                <h1><%= products.length %></h1>
                                <h3>Products</h3>
                            </div>
                            <div class="icon-case">
                                <img src="images/shopping-bag.png" style="height:  70px;">
                            </div>
                        </div>

                        <div class="card">
                            <div class="box">
                                <h1>5</h1>
                                <h3>Categorys</h3>
                            </div>
                            <div class="icon-case">
                                <img src="images/menu.png" style="height:  70px;">
                            </div>
                        </div>

                        <div class="card">
                            <div class="box">
                                <h1>$35900</h1>
                                <h3>Income</h3>
                            </div>
                            <div class="icon-case">
                                <img src="images/accounts.png" style="height:  70px;">
                            </div>
                        </div>
                    </div>
                    <div class="content-2">
                        <div class="recent-payments">
                            <div class="title">
                                <h2>Recent Payments</h2>
                            </div>
                            <table>
                                <tr>
                                    <th>Name</th>
                                    <th>Order No.</th>
                                    <th>Price</th>
                                    <th>Option</th>
                                </tr>
                                <tr>
                                    <td>Faisal</td>
                                    <td>02383</td>
                                    <td>$120</td>
                                    <td><a href="#" class="btn">View</a></td>
                                </tr>
                                <tr>
                                    <td>Fay</td>
                                    <td>02384</td>
                                    <td>$340</td>
                                    <td><a href="#" class="btn">View</a></td>
                                </tr>
                                <tr>
                                    <td>Saleh</td>
                                    <td>02385</td>
                                    <td>$250</td>
                                    <td><a href="#" class="btn">View</a></td>
                                </tr>
                                <tr>
                                    <td>Yazeed</td>
                                    <td>02386</td>
                                    <td>$20</td>
                                    <td><a href="#" class="btn">View</a></td>
                                </tr>
                                <tr>
                                    <td>Reem</td>
                                    <td>02387</td>
                                    <td>$570</td>
                                    <td><a href="#" class="btn">View</a></td>
                                </tr>
                                <tr>
                                    <td>Nouf</td>
                                    <td>02388</td>
                                    <td>$800</td>
                                    <td><a href="#" class="btn">View</a></td>
                                </tr>
                            </table>
                        </div>
                        <div class="new-users">
                            <div class="title">
                                <h2>New Users</h2>
                            </div>
                            <table>
                                <tr>
                                    <th>Profile</th>
                                    <th>Name</th>
                                    <th>option</th>
                                </tr>
                                <tr>
                                    <td><img src="images/user.png" alt=""></td>
                                    <td>Khaled</td>
                                    <td><img src="images/info.png" alt=""></td>
                                </tr>
                                <tr>
                                        <td><img src="images/user.png" alt=""></td>
                                    <td>Fahman</td>
                                        <td><img src="images/info.png" alt=""></td>
                                </tr>
                                <tr>
                                        <td><img src="images/user.png" alt=""></td>
                                    <td>Abdullah</td>
                                        <td><img src="images/info.png" alt=""></td>
                                </tr>
                                <tr>
                                        <td><img src="images/user.png" alt=""></td>
                                    <td>Saud</td>
                                        <td><img src="images/info.png" alt=""></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
    </div>
    
    <script>
        const cardContainer = document.getElementById('cardContainer');
      
        cardContainer.addEventListener('click', () => {
            window.location.href = '/products';
        });
      </script>
</body>
</html>