<!DOCTYPE html>
<html>
    <head>


        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <title>drop-down profile</title>
        <link rel="stylesheet" href="test.css">


    </head>


    <body>

        <div class="hero">
            <nav>
                <img src="./images/logo.png" class="logo">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Feature</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <img src="./images/user.png" class="user-pic" onclick="toggleMenu()">

                <div class="sub-menu-wrap" id="subMenu">
                    <div class="sub-menu">
                        <div class="user-info">
                            <img src="./images/user.png">
                            <h2> Faisal Moh </h2>
                        </div>
                        <hr>

                        <a href="#" class="sub-menu-link"> 
                            <img src="./images/profile.png">
                            <p>Edit Profile</p>
                            <span>></span>
                        </a>
                        
                        <a href="#" class="sub-menu-link"> 
                            <img src="./images/setting.png">
                            <p>Settings & privacey</p>
                            <span>></span>
                        </a>

                        <a href="#" class="sub-menu-link"> 
                            <img src="./images/help.png">
                            <p>Help & Support</p>
                            <span>></span>
                        </a>
                        
                        <a href="#" class="sub-menu-link"> 
                            <img src="./images/logout.png">
                            <p>Logout</p>
                            <span>></span>
                        </a>


                    </div>
                </div>

            </nav>


        </div>


        <script>
            let subMenu = document.getElementById("subMenu");

            function toggleMenu(){
                subMenu.classList.toggle("open-menu");
            }

        </script>










    </body>
</html>