@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Wix+Madefor+Display:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Poppins', sans-serif;
    height: 1000px;
    overflow:scroll;
}













/* Header style */
.container-bar{
    width: 100%;
    margin: 0 auto;
}

.header {
    position: fixed;
    width: 100%;
    background-color: #074497;
    padding: 0.7rem;
    position: flex;
    z-index: 10;
}

.header .container-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar{
    background-color: hsl(252, 30%, 95%);
    border-radius: 2rem;
    padding: 0.6rem 1rem;
}

.search-bar input[type="search"]{
    background: transparent;
    border: 0;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: hsl(252, 30%, 17%);
}

.header .buttom {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.btn{
    display: inline-block;
    padding: 0.6rem 2rem;
    font-weight: 500;
    border-radius: 1rem;
    cursor: pointer;
    color: white;
    background-color: hsla(239, 27%, 62%, 0.63);
    transition: all 300ms ease;

}

.btn:hover{
    opacity: 0.8;
}

.link{
    color:  hsl(0, 0%, 100%);
    cursor: pointer;
}

.link:hover{
    text-decoration: underline;
}

.header a { 
    text-decoration: none; 
    padding-top: 0.7rem;
    color: white;
}
/* End Header style */



/* category */
.category ul{
    padding-top: 80px;
    list-style: none;
    background:  #24262b;
}

.category ul li{
    display: inline-block;
    position: relative;
}

.category ul li a {
    display: block;
    padding: 20px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}


.category ul li ul.dropdown li{
    display: block;
}

.category ul li ul.dropdown {
    width: 200px;
    background: #24262b;
    position: absolute;
    z-index: 999;
    display: none;
    padding-bottom: 8px;
}

.category ul li:hover ul.dropdown{
    display: block;
}
/* End category */













/* Footer */
.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-container {
    max-width: 1170px;
    margin: auto;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer ul{
    list-style: none;
}

.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content : '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #074497;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;

}

.footer-col ul li a:hover{
    color: #fff;
    padding-left: 10px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255, 0.2);
    margin-right: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 1s ease;

}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #fff;
}

.card-header{
    color: #fff;
    background-color:#24262b;
}

.btn{
    height: 40px;
    background-color: #24262b;
    border: 0;
}

.btn:hover{
    background-color: #16171a;
}

/*fix size*/
@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }

@media(max-width: 767px){

    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }

}

@media(max-width: 574px){

    .footer-col{
        width: 100%;
    }

}