@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Wix+Madefor+Display:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    height: 1000px;
    overflow: scroll;
}

















/* Header style */
.container-bar {
    width: 100%;
    margin: 0 auto;
}

.header {
    position: flex;
    width: 100%;
    background-color: #074497;
    padding: 0.7rem;
    position: flex;
    z-index: 10;
}

.header .container-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.search-bar {
    height: 50px;
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.281);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 10px;
    backdrop-filter: blur(2px) saturate(100%);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #ffffff;
}

::placeholder{
    color: #ffffffbd;
}

.search-bar img{
    width: 25px;
}

.search-bar button{
    border: 0;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background: #0743974b;
    cursor: pointer;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.search-bar button:hover{
    background: #8db2e76c;
    box-shadow: 0 4px 8px 0 rgba(0.1, 0.1, 0.1, 0.1);
}


.header .buttom {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn-cart {
    display: inline-block;
    padding-bottom: 5px;
    padding: 0.5rem 1rem;
    font-weight: 500;
    border-radius: 1rem;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: hsla(239, 27%, 62%, 0.0);
    transition: all 300ms ease;
    border: none;
}

.btn-cart:hover {
    opacity: 0.4;
}

.link {
    color: hsl(0, 0%, 100%);
    margin-top: 15px;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.header a {
    text-decoration: none;
    padding-top: 0.7rem;
    color: white;
}
/* End Header style */




















/* category */

.category ul {
    list-style: none;
    background: #24262b;
}

.category ul li {
    display: inline-block;
    position: relative;
    
}

.category ul li a:hover {
    opacity: 0.5;
}


.category ul li a {
    display: block;
    padding: 20px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

.category ul li ul.dropdown li {
    color: #fff;
    display: block;
}

ul.dropdown{
    margin: 0;
    padding: 0;
}

.category ul li ul.dropdown {
    align-items: center;
    width: 200px;
    background: #24262b;
    position: absolute;
    z-index: 999;
    border-radius: 10px;
    display: none; 
}

.category ul li:hover ul.dropdown {
    display: block;
}
/* End category */







/* SignUp/In */
.signUp-In{
    margin-top: 100px;
    margin-bottom: 100px;
}

.container{
    position: relative;
    max-width: 850px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    perspective: 2700px;
}

.container .cover{
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}

.container #flip:checked ~ .cover{
    transform: rotateY(-180deg);
}

.container .cover .front, .container .cover .back{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.cover .back{
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.container .cover::before, .container .cover::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #074497;
    opacity: 0.9;
    z-index: 12;
}

.container .cover::after{
    opacity: 0.3;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.container .cover img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
}

.container .cover .text{
    position: absolute;
    z-index: 130;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover .text .text-1, .cover .text .text-2{
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
  
.cover .text .text-2{
    font-size: 15px;
    font-weight: 500;
}

.container .forms{
    height: 100%;
    width: 100%;
    background: #fff;
}

.container .form-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-content .login-form, .form-content .signup-form{
    width: calc(100% / 2 - 25px);
}

.forms .form-content .title{
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

.forms .form-content .title:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: #074497;
}

.forms .signup-form  .title:before{
    width: 20px;
}

.forms .form-content .input-boxes{
    margin-top: 30px;
}

.forms .form-content .input-box{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.form-content .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.form-content .input-box input:focus, .form-content .input-box input:valid{
    border-color: #074497;
}

.form-content .input-box i{
    position: absolute;
    color: #074497;
    font-size: 17px;
}

.forms .form-content .text{
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.forms .form-content .text a{
    text-decoration: none;
}

.forms .form-content .text a:hover{
    text-decoration: underline;
}

.forms .form-content .button{
    color: #fff;
    margin-top: 40px;
}

.forms .form-content .button input{
    color: #fff;
    background: #074497;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}

.forms .form-content .button input:hover{
    background: #074497;
}

.forms .form-content label{
    color: #074497;
    cursor: pointer;
}

.forms .form-content label:hover{
    text-decoration: underline;
}

.forms .form-content .login-text, .forms .form-content .sign-up-text{
    text-align: center;
    margin-top: 25px;
}
  
.container #flip{
    display: none;
}

.input-box i{
   margin-left: 5px;
}
/* End SignUp/In */














/* Footer */
.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-container {
    max-width: 1170px;
    margin: auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer ul {
    list-style: none;
}

.footer-col h4 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #074497;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #fff;
    padding-left: 10px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255, 0.2);
    margin-right: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 1s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #fff;
}
/* End Footer */















/*fix size*/

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .single-product .product-info .title a {
        font-size: 15px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-title {
        padding: 0px 250px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-title {
        padding: 0px 20px;
        margin-bottom: 30px;
    }
}

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}
