@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Wix+Madefor+Display:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    height: 1000px;
    overflow: scroll;
}


/* Header style */

.container-bar {
    width: 100%;
    margin: 0 auto;
}

.header {
    position: flex;
    width: 100%;
    background-color: #074497;
    padding: 0.7rem;
    position: flex;
    z-index: 10;
}

.header .container-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    background-color: hsl(252, 30%, 95%);
    border-radius: 2rem;
    padding: 0.4rem 1rem;
}

.search-bar input[type="search"] {
    background: transparent;
    border: 0;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: hsl(252, 30%, 17%);
}

.header .buttom {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn-cart {
    display: inline-block;
    padding-bottom: 5px;
    padding: 0.5rem 1rem;
    font-weight: 500;
    border-radius: 1rem;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: hsla(239, 27%, 62%, 0.0);
    transition: all 300ms ease;
    border: none;
}

.btn-cart:hover {
    opacity: 0.4;
}

.link {
    color: hsl(0, 0%, 100%);
    margin-top: 15px;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.header a {
    text-decoration: none;
    padding-top: 0.7rem;
    color: white;
}


/* End Header style */


/* category */

.category ul {
    list-style: none;
    background: #24262b;
}

.category ul li {
    display: inline-block;
    position: relative;
    
}

.category ul li a:hover {
    opacity: 0.5;
}


.category ul li a {
    display: block;
    padding: 20px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

.category ul li ul.dropdown li {
    color: #fff;
    display: block;
}

ul.dropdown{
    margin: 0;
    padding: 0;
}

.category ul li ul.dropdown {
    align-items: center;
    width: 200px;
    background: #24262b;
    position: absolute;
    z-index: 999;
    border-radius: 10px;
    display: none; 
}


.category ul li:hover ul.dropdown {
    display: block;
}


/* End category */



.carousel {
    margin: 50px auto;
    padding: 0 70px;
}




/* Footer */

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-container {
    max-width: 1170px;
    margin: auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer ul {
    list-style: none;
}

.footer-col h4 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #074497;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #fff;
    padding-left: 10px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255, 0.2);
    margin-right: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 1s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #fff;
}


/*fix size*/

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}


/*Trending Product section */

.trending-section-title {
    margin-bottom: 20px;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
    padding: 0px 300px;
    position: relative;
    z-index: 5;
    position: relative;
}

.section-title h2 {
    font-size: 30px;
    line-height: 35px;
    text-transform: capitalize;
    position: relative;
    font-weight: 800;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
}

.section-title h2::before {
    position: absolute;
    bottom: 0;
    content: "";
    background-color: #0167F3;
    height: 2px;
    width: 300px;
    margin-left: -25px;
    border-radius: 4px;
}

.section-title p {
    font-size: 14px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-title {
        padding: 0px 250px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-title {
        padding: 0px 20px;
        margin-bottom: 30px;
    }
}

.single-product {
    border: 1px solid #eee;
    border-radius: 4px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin-top: 30px;
    -webkit-box-shadow: 0px 0px 20px #00000012;
    box-shadow: 0px 0px 20px #00000012;
    padding: 8px;
    background: #fff;
}

.single-product .product-image {
    overflow: hidden;
    position: relative;
}

.single-product .product-image .button-product {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -60px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;
    color: #fafafa;
}

.single-product .product-image .button-product .btn-product {
    padding: 12px 20px;
    font-size: 13px;
    font-weight: 600;
    width: 140px;
    color: #ffffff;
    background-color: #074497;
    border-radius: 1rem;
    text-decoration: none;
}

.single-product .product-image .button-product .btn-product i {
    font-size: 18px;
    position: relative;
    top: 2px;
    color: #ffffff;
    background-color: #074497;
}

.single-product .product-image img {
    width: 100%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.single-product:hover .product-image .button-product {
    bottom: 30px;
    opacity: 1;
    visibility: visible;
}

.single-product:hover .product-image img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.single-product .product-info {
    padding: 20px;
    background-color: #fff;
}

.single-product .product-info .category {
    color: #888;
    font-size: 13px;
    display: block;
    margin-bottom: 2px;
}

.single-product .product-info .title a {
    font-size: 16px;
    font-weight: 700;
    color: #081828;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .single-product .product-info .title a {
        font-size: 15px;
    }
}

.single-product .product-info .title a:hover {
    color: #0167F3;
}

.single-product .product-info .price span {
    font-size: 17px;
    font-weight: 700;
    color: #0167F3;
    display: inline-block;
}

.single-product .product-info .price {
    margin-top: 15px;
}

.single-product .product-info .title-info a {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}


.single-product .product-image .button-product .btn-product i {
    font-size: 18px;
    position: relative;
    top: 2px;
    background-color: #0167F3;
}


/*login section*/

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 400px;
    }
    .modal-dialog .modal-content {
        padding: 1rem;
    }
}

.modal-header .close {
    border: none;
    margin-top: 1.5rem;
    background: fixed;
}

.form-title {
    margin: -2rem 0rem 2rem;
}

.btn-login-round {
    border-radius: 3rem;
}

.delimiter {
    padding: 1rem;
}

.social-buttons .btn-login {
    margin: 0 0.5rem 1rem;
}

.signup-section {
    padding: 0.3rem 0rem;
}

.btn-login-submit {
    display: inline-block;
    padding: 0.6rem 2rem;
    font-weight: 500;
    border-radius: 1rem;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: hsla(239, 99%, 27%, 0.63);
    transition: all 300ms ease;
}

